.highlight {
  color: #eb811b;
}

.reveal blockquote {
  border-left-style: solid;
  border-left-width: 4px;
  border-left-color: #eb811b;
  padding-left: 1rem !important;
  text-align: left;
}

.global {
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  font-size: 1rem;
  padding: 10px;
  font-weight: bold;
  letter-spacing: 1.2px;
}
